<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- <script src="http://log-static.xuebadev.com/sbook/log.js" charset="utf-8"></script> -->
  <script src="//static.xueba100.com/public/preact/latest/dist/preact.min.js" charset="utf-8"></script>
  <script>
    var createElement=h=preact.h,render=preact.render,Component=preact.Component;
  </script>
  <!-- <script type="text/javascript">
        !function(e,n,a,t){var c="wa";e.WenbaAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].t=1*new Date;var i=n.createElement(a),s=n.getElementsByTagName(a)[0];i.async=1,i.src=t,s.parentNode.insertBefore(i,s)}(window,document,"script","//o7rvt8g9t.qnssl.com/analytics.min.js");
        wa('create', 'web.act.sbook')
    </script> -->
</head>
<body>
</body>
</html>
